@media screen and (max-width: 790px) {
  .desc1 {
    display: none;
  }

  .desc2 {
    display: block !important;
  }

  .res-cont {
    flex-direction: column;
  }

  .photo-border-width {
    width: 100% !important;
  }

  .product-detail {
    width: 100% !important;
  }
}

.delete-before-product-product.active {
  margin-bottom: 0.5rem;
}

.filter-value-sty.active {
  background-color: #134ba0 !important;
}

.filter-value-sty.no_in_stock {
  background-color: #41454b !important;
  pointer-events: none;
  cursor: not-allowed !important;
  color: #e5e5e5;
  border: 1px solid #e5e5e5;
}

.rating-stars {
  margin-bottom: 20px;
}
.rating-stars .star {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}
.rating-stars .star.fas {
  color: #ffd700;
}

.rating-stars .not_filled {
  color: #13120c !important;
}

#review-form {
  margin-top: 20px;
}
#review-form textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}
#review-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .defaultimg-div {
    display: flex !important;
    justify-content: center !important;
  }

  /* .delete-before-product-product.active {
    gap: 1rem !important;
    margin-bottom: 0.5rem;
  }

  .cart-modal {
    width: 100%;
    top: 100px;
    right: 0px;
    height: 100vh;
  }

  .delete-before-product {
    margin-bottom: 12rem;
  } */
}

.filter-products-values.disableClick {
  pointer-events: none !important;
}
