<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Order Notification</title>
  </head>
  <body>
    <h2>New Order Placed</h2>
    <p>{{full_name}} wants to buy your product at this address: {{address}}</p>
    <p>Contact Info: {{phone}}</p>
    <ul>
      <li><strong>Quantity:</strong> {{ quantity }}</li>
      <li><strong>Product Name:</strong> {{ product_name }}</li>
      <li><strong>Product SKU:</strong> {{ product_sku }}</li>
    </ul>
    <p>Thank you for your attention.</p>
  </body>
</html>
